{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "proseWrap": "always",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "auto"
}